---
- hosts: all
  tasks:
    - name: Create Network
      community.docker.docker_network:
        name: blog
    - name: Deploy CMS
      community.docker.docker_container:
        name: cms
        image: ghcr.io/sebasptsch/nextcms
        pull: true
        recreate: true
        ports:
          - "3002:3002"
        restart_policy: unless-stopped
        env:
          SESSION_SECRET: "{{ lookup('env', 'SESSION_SECRET') }}"
        volumes:
          - db:/app/config
